#Dados da BD
DB_USER = ""
DB_PASSWORD = ""
DB_SERVER=
DB_NAME = ""
DB_DRIVER={}

#A query SQL 
DB_QUERY = ""


#Colocar os email do remetente e os destinatários
#MEU_EMAIL = "meuemail@gmail.com"
#DESTINATARIOS = example1@gmail.com, example2@gmail.com, example3@gmail.com
MEU_EMAIL = ""
DESTINATARIOS = , , 

#Codigo de para envios gmail
MINHA_SENHA_GMAIL = ""